body {
  background-color: rgb(224, 224, 224);
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: rgb(218, 70, 70);
  color: rgb(201, 201, 201);

  font-family: "Poppins", sans-serif;
  padding: 5vw;
}
