body {
  background-color: rgb(224, 224, 224);
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

/* -----------NAVBAR */
.navbar {
  display: flex;
  flex-direction: column;
}
.navbar .logo-nav img {
  height: auto;
  width: 15vw;
}
.navbar .judul1-nav {
  font-size: 2vw;
  font-weight: 50;
}
